<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="container">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi maxime
      dolor est mollitia non deleniti rerum nostrum quam id molestiae fugiat,
      voluptates, alias facere, modi cupiditate dolorum praesentium sint et!

      <button type="button" class="button">
        Click
        <img
          src="./src/cursor-click-2-svgrepo-com.svg"
          alt="Click"
          width="24"
          height="24"
        />
      </button>

      <label class="switch" tabindex="-1">
        <input type="checkbox" name="" id="" title="checkbox">
      </label>

      <label class="switch" tabindex="-1">
        <input type="checkbox" name="" id="" title="checkbox" checked>
      </label>

      <label class="radio">
        <input type="radio" name="" id="" title="radio">
      </label>
      <label class="radio">
        <input type="radio" name="" id="" title="radio" checked>
      </label>
    </main>

    <script src="./index.js"></script>
  </body>
</html>
